body {
    height: 100vh;
    background-color: lightgrey;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.buttonZone {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.gameZone {
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.playersZone, .playerZone, .croupierZone {
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

}

.croupierZone {
    background-color: rgb(236, 236, 236);
    flex-direction: column;
    border-radius: 10px;
    /* border: black 1px solid; */
    box-shadow: 5px 5px 12px 0px rgba(0, 0, 0, 0.3);
    /* min-height: 30%; */
    min-width: 80%;
    margin-top: 20px;
    margin-bottom: 30px;
}

.playersZone {
    background-color: rgb(236, 236, 236);
    flex-direction: row;
    border-radius: 10px;
    /* border: black 1px solid; */
    box-shadow: 5px 5px 12px 0px rgba(0, 0, 0, 0.3);
    /* min-height: 70%; */
    min-width: 80%;
    margin-top: 30px;
    margin-bottom: 20px;
}

.playerZone {
    flex-direction: column;
    width: auto;
}

.cardZone {
    display: flex;
    margin: 10px;
    justify-content: center;
    align-content: center;
}

.playerName {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* padding: 10px; */
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    height: auto;
}

.scoreText {
    font-size: 0.8rem;
    font-style: italic;
    font-weight: lighter;
    margin: 10px;
    display: block;

}

.playerMoney {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: black;
    position: relative;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;

}

.playerMoney::before {
    content: url(../assets/jetons_small.png);
    align-content: center;
    margin: 10px;

}

.card {
    width: 98px;
    height: 143px;
    margin: 0 -30px;
    border-radius: 5px;
    transform: rotate(-4deg);
    background-image: url("../assets/cards.png");
    /* transform: scale(1.3); */
    box-shadow: 7px 7px 5px 1px rgba(0, 0, 0, 0.29);

}

.card-heart {
    /* background-position: 0 -286px; */
    background-position-y: -286px;
}

.card-diamond {
    background-position-y: -143px;
}

.card-spade {
    background-position-y: -429px;
}

.card-club {
    background-position-y: 0;
}

.card-2 {
    background-position-x: -99px;
}

.card-3 {
    background-position-x: -197px;
}

.card-4 {
    background-position-x: -295px;
}

.card-5 {
    background-position-x: -393px;
}

.card-6 {
    background-position-x: -492px;
}

.card-7 {
    background-position-x: -590px;
}

.card-8 {
    background-position-x: -689px;
}

.card-9 {
    background-position-x: -787px;
}

.card-10 {
    background-position-x: -886px;
}

.card-11 {
    background-position-x: -984px;
}

.card-12 {
    background-position-x: -1082px;
}

.card-13 {
    background-position-x: -1181px;
}

.card-14 {
    background-position-x: -0;
}