{
    "env": {
      "browser": true,
      "es6": true
    },
    "globals": {
      //"app": true, <= Mettre ici le nom du module pour qu'il soit validé par eslint

    },
    "extends": "eslint:recommended",
    "rules": {
      "indent": ["error", 4, {"SwitchCase": 1}],
      "quotes": ["error", "single"],
      "semi": ["error", "always"]
    }
  }